* {
    box-sizing: border-box;
}
:root {
    --red: rgb(178, 34, 34);
    --red-transparent: rgb(178, 34, 34, 0.9);
}
body {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    color: white;
    background-color: var(--red); /*firebrick*/
    font-weight: bold;
    min-height: 1.5em;
    top: 0;
    width: 100%;
}
header h1 {
    margin-bottom: auto;
    margin-top: auto;
}
header div {
    font-size: 1rem;
}
header div.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
}
header div.sortBy {
    margin-bottom: auto;
    margin-top: auto;
}
header div.sortBy .sortControl {
    /* font-size: 3em; */
}
main {
    margin-bottom: 2em;
    margin-top: 3em;
}
ul.logs,
ul.logs ul {
    list-style-type: none;
    padding: 0;
}
ul.logs>li {
    border: black solid 1px;
    margin: 1em;
    padding: 1em;
}
ul.logs ul {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}
ul.logs ul li {
    margin: 0.2em 0.5em;
    width: 40%;
}
#create {
    background-color: var(--red-transparent);
    border: none;
    border-radius: 50%;
    bottom: 1em;
    color: white;
    font-size: 1.5em;
    padding: 0.25em .5em;
    position: fixed;
    right: 1em;
}
#createForm {
    background-color: white;
    bottom: calc(1em + 5px);
    border: grey solid 1px;
    position: fixed;
    min-height: 200px;
    right: calc(2em + 3em);
    width: 300px;
}
#createForm form {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-between;
}
.description {
    height: 4em;
    resize: none;
    width: 100%;
}
.title {
    width: 100%;
}
.createLog {
    align-self: center;
}
.createLog_close {
    align-self: flex-end;
    background-color: var(--red);
    border: none;
}
.createLog_close:hover,
.createLog_close:focus {
    outline: solid lightblue;
}
footer {
    background-color: var(--red-transparent);
    bottom: 0;
    color: white;
    position: fixed;
    text-align: center;
    width: 100%;
}