* {
    box-sizing: border-box;
}
:root {
    --red: rgb(178, 34, 34);
    --red-transparent: rgb(178, 34, 34, 0.9);
    --secondary-button: buttonface;
    --primary-button: buttonface;
    --tag: buttonface;
}
html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}   
.pageHeader {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: var(--red);
    font-weight: bold;
    min-height: 2.5em;
}
header h1 {
    margin-bottom: auto;
    margin-top: auto;
}
header div {
    font-size: 1rem;
}
header div.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
}
header div.sortBy {
    margin-bottom: auto;
    margin-top: auto;
}
header div.sortBy .sortControl {
    /* font-size: 3em; */
}
#app {
    flex-grow: 1;
    overflow: hidden;
}
.app_data {
    height: 100%;
    overflow-y: auto;
}
.logs,
.log_helpfulResources {
    list-style-type: none;
    padding: 0;
}
.log_delete {
    border: none;
    float: right;
    background-color: buttonface;
}
.log_delete:hover {
    background-color: grey;
}
ul.logs>li {
    border: black solid 1px;
    margin: 1em;
    padding: 1em;
}
.log_helpfulResources {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}
.log_helpfulResource {
    margin: 0.2em 0.5em;
    width: 40%;
}
.log_type {
    background-color: var(--tag);
    display: inline-block;
    padding: 5px;
}
.log_actions {
    margin: 1em auto;
}
.app_actions_create {
    background-color: var(--red-transparent);
    border: none;
    border-radius: 50%;
    bottom: 0.5em;
    color: white;
    font-size: 1.5em;
    padding: 0.25em .5em;
    position: absolute;
    right: 2em;
}
.app_forms,
.app_actions {
    bottom: 0;
    position: relative;
}
.app_forms_create,
.app_forms_update {
    background-color: white;
    bottom: 0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.45);
    position: absolute;
    min-height: 200px;
    right: calc(3em + 3em);
    width: 300px;
}
.app_forms_create form,
.app_forms_update form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app_forms_create input,
.app_forms_create textarea,
.app_forms_update input,
.app_forms_update textarea {
    border: 1px solid lightgrey;
    border-left: none;
    border-right: none;
}
.app_forms_create select,
.app_forms_update select {
    border: 1px solid lightgrey;
}
.createForm_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: var(--red); /*firebrick*/
    font-weight: bold;
    padding: 0 0.2em;
    width: 100%;
}
.createForm_header_title {
    margin: 0.5em 0;
}
.createForm_label_text {
    padding-left: 0.2em;
}
.createForm_title {
    width: 100%;
}
.createForm_description {
    height: 3em;
    resize: none;
    width: 100%;
}
.createForm_helpfulResources {
    max-height: 8em;
    overflow-y: auto;
}
.createLog {
    align-self: center;
    margin: 1em;
}
.createLog_close {
    background-color: var(--red);
    border: none;
    color: white;
}
.createLog_close:hover,
.createLog_close:focus {
    outline: solid lightblue;
}
footer {
    background-color: var(--red-transparent);
    color: white;
    text-align: center;
}